@*pulls in the group info model*@
@model LaytonTempleTours.Models.GroupInfo


@*form for people to put in group info*@
<br />
<form asp-action="Form" method="post">

    @*pulls the timeslot info chosen from the list on the sign up page*@
    <label asp-for="TimeSlot">Time:</label>
    <input value="@ViewBag.SelectedTime" id="TimeSlot" name="TimeSlot" readonly />
    <br />

    <label asp-for="Name">Name of Group</label>
    <input asp-for="Name" />
    <br />

    <label asp-for="Size">Size of Group</label>
    <input asp-for="Size" />
    <br />

    <label asp-for="Email">Email Address</label>
    <input asp-for="Email" />
    <br />

    <label asp-for="PhoneNumber">Phone Number</label>
    <input asp-for="PhoneNumber" />
    <br />

    <button type="submit">Submit</button>
    <div asp-validation-summary="All"></div>

</form>
