@*@model LaytonTempleTours.Models.AvailableTime*@

@*@model LaytonTempleTours.Models.ViewModels.TourViewModel*@
@model LaytonTempleTours.Models.GroupInfo


@*x will auto fill from previous date and time chosen on sign up page*@
@*this is the form for @Model.AppointementTime*@
<br />
<form asp-action="Form" method="post">

    @*attach to partialForm*@
    @*partial view!*@
    <label asp-for="TimeSlot">Time:</label>
    <input value="@ViewBag.SelectedTime" id="TimeSlot" name="TimeSlot" readonly />
    <br />

    <label asp-for="Name">Name of Group</label>
    <input asp-for="Name" />
    <br />

    <label asp-for="Size">Size of Group</label>
    <input asp-for="Size" />
    <br />

    <label asp-for="Email">Email Address</label>
    <input asp-for="Email" />
    <br />

    <label asp-for="PhoneNumber">Phone Number</label>
    <input asp-for="PhoneNumber" />
    <br />

    <button type="submit">Submit</button>
    <div asp-validation-summary="All"></div>
    @*return the user to the home page*@

</form>
