@*pulls in the group info model*@
@model LaytonTempleTours.Models.GroupInfo


@*form for people to put in group info*@
<br />
<form class="form-horizontal" asp-action="Form" method="post">

    @*pulls the timeslot info chosen from the list on the sign up page*@
    <div class="form-group">
        <label class="control-label col-sm-2" asp-for="TimeSlot">Time:</label>
        <div class="col-sm-10">
            <input class="form-control" value="@ViewBag.SelectedTime" id="TimeSlot" name="TimeSlot" readonly />
        </div>
        <br />
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" asp-for="Name">Name of Group</label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="Name" />
            <br />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" asp-for="Size">Size of Group</label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="Size" />
            <br />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" asp-for="Email">Email Address</label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="Email" />
            <br />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" asp-for="PhoneNumber">Phone Number</label>
        <div class="col-sm-10">
            <input  class="form-control" asp-for="PhoneNumber" />
            <br />
        </div>
    </div>

    <button  class="btn btn-default" type="submit">Submit</button>
    <div asp-validation-summary="All"></div>

</form>
