@*@model LaytonTempleTours.Models.AvailableTime*@

@*@model LaytonTempleTours.Models.ViewModels.TourViewModel*@
@model LaytonTempleTours.Models.GroupInfo


@*x will auto fill from previous date and time chosen on sign up page*@
@*this is the form for @Model.AppointementTime*@
<br />
<form class="form-horizontal" asp-action="Form" method="post">
    <div class="form-group">
        @*attach to partialForm*@
        @*partial view!*@
        <label class="control-label col-sm-2">Time:</label>
        <div class="col-sm-10">
            <input value="@ViewBag.SelectedTime" readonly />
            <br />
        </div>
    </div>
        <partial name="PartialForm" />

        <button type="submit" class="btn btn-default">Submit</button>
        <div asp-validation-summary="All"></div>
        @*return the user to the home page*@

</form>
