@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Layton Utah Temple Tours</h1>
    <br />
    <img src="~/img/layton-temple.jpg" alt="Layton Utah Temple" width="600"/>
    <br /><br />
    <button asp-action="SignUp" class="btn btn-secondary">Sign Up</button>
    <br /><hr /><br />
</div>

<div class="row">
    <div class="col-12">
        <h3>Tour Information:</h3>
    </div>
    <div class="col-6">
        <br />
        <h5>General Tour Instructions:</h5>
        <ul>
            <li>Masks are required.</li>
            <li>Park on Rosewood (west side of the temple) and meet at the Visitors Center trailer.</li>
            <li>Dress casual, except on Sunday</li>
        </ul>

        <h5>Special Accomodations:</h5>
        <ul>
            <li>Spanish-speaking tours are available on Thursday, Friday, Saturday or Sunday</li>
        </ul>

        <h5>Available Tours:</h5>
        <ul>
            <li>Tour (Outdoor): We have been asked to discontinue outside tours at this time.</li>
            <li>Trailer Tour: All tours will be inside the trailer. Masks are required.</li>
        </ul>
    </div>

    <div class="col-6">
        <br />
        <h5>Tour Hours:</h5>
        <p>Sunday - Saturday, 8:00 am – 8:00 pm (last tour starts at 8:00 pm)</p>

        <h5>Contact Info:</h5>
        <p>Phone: (801) 628-4488</p>
        <p>Email: LaytonTempleTours@gmail.com</p>

        <h5>Location:</h5>
        <a href="https://www.google.com/maps/search/?api=1&query=1500+E+Oak+Hills+Drive+Layton+UT+84040" target="_blank">
            <p><b>Layton Utah Temple</b><br />1500 E Oak Hills Drive, Layton, UT 84040</p>
        </a>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d80955.28867096723!2d-112.00767068724527!3d41.057648510499966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8753019a62e58ead%3A0xfbc6b37f04661deb!2s1500%20Oak%20Hills%20Dr%2C%20Layton%2C%20UT%2084040!5e0!3m2!1sen!2sus!4v1615867557979!5m2!1sen!2sus" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</div>
