@model IEnumerable<AvailableTime>

@*Sign Up Page: This page will display the available times. Ignore the time slots on the
    SignUpGenius page. For our purposes, we will say the tours occur every hour on the
    hour from 8:00 am – 8:00 pm (i.e. the last tour starts at 8:00 pm.) Once the user selects a
    time, they are routed to a form that has the date info set, but allows the user to enter their
    info.*@

<body>
    <h1>Sign up for time slots below</h1>
    <form asp-action="Form" method="post">
        @*list to print out available times from the model*@
        @foreach (var x in Model)
        {
            @*pass in variable name (AppointmentTime) for the date and the time*@
            <label>@x.AppointementTime</label>
            <input type="radio" name="time" />
            <br />
        }
        <button type="submit">Submit</button>
        <div asp-validation-summary="All"></div>
    </form>
    
</body>