@*pulls in the tourviewmodel*@
@model LaytonTempleTours.Models.ViewModels.TourViewModel

<body>
    <h1>Sign up for a time slot below</h1>

    @*loops through all the available times*@
    @foreach (var x in Model.AvailableTimes)
    { 
        <form asp-action="SignUp" method="post">
            <label>Time:</label>
            <input id="time" name="time" value="@x.AppointementTime"/> 

            <button type="submit">Select Time</button>
            <div asp-validation-summary="All"></div>

        </form>
    }

</body>